<div class="content-root animated fadeInLeft">
	<div class="content-close">
		<a class="content-close-btn" href="#"><img src="img/content-close.png"></a>
	</div>

	<div class="header-container">
		<div class="child-content">

			<h1>Tell Us More</h1>

		    <p>Thank you for taking the time to give us input! Here are some more ways to stay involved with the Oakland Bike Plan:</p>
			<ul>
				<li>Sign up for updates on the <a href="https://public.govdelivery.com/accounts/CAOAKL/subscriber/new?topic_id=CAOAKL_168" target="_blank">Oakland Bike Plan here</a></li>
				<li>Download the <a href="https://ride.report/" target="_blank">Ride Report app</a> to your mobile phone to start rating your rides. </li>
				<li><a href="http://letsbikeoakland.com/survey" target="_blank">Take the long-form survey</a> to tell us more about how you get around Oakland.</li>
				<li>Visit <a href="http://letsbikeoakland.com/" target="_blank">LetsBikeOakland.com</a>LetsBikeOakland.com to learn more about events and updates.</li>
			</ul>
		    <form id="contact-submit" class="ws-validate">

		      <div class="form-group">
		        <label for="email">Your Email Address:</label>
		        <input class="form-control" type="email" name="email" required>
		      </div>

		      <div class="form-group">
		        <label for="comment">Comment:</label>
		        <textarea name="comment" class="form-control story" rows="5" required></textarea>
		      </div>

		      <div id="status"></div>
		      <input id="submit" class="save full" type="submit" value="Send">
		      <a class="btn-primary inline-block content-close-btn step" href="#/step-one">Cancel</a>
		      
		    </form> 


	</div>
</div>