<div class="content-root animated fadeIn">

	<div class="header-container">
		<div class="child-content text-center">
			<div class="large inline-block text-left">
				<div class="bar">
					<img src='img/LBO_Bike_KO_2-01.png' style="max-width:300px;margin-left:-4%">
				</div>
				<h1>City of Oakland - Public Input Map</h1>
			    <p>The City of Oakland is updating the City’s Bike Plan and we want to hear from you! Share your ideas, concerns, and how you currently get around Oakland.</p>

				<a href="#/step-one/" title="Get Started" class="btn-primary">Get Started</a>
			</div>
		</div>

	</div>
</div>