<div class="content-root animated fadeInLeft">
	<div class="content-close">
		<a class="content-close-btn" href="#"><img src="img/content-close.png"></a>
	</div>

	<div class="header-container" id="legend-section">
		<div class="child-content">

			<h1>Map Legend</h1>

			<div class="category">
				<h2>User Comments</h2>

				<div class="legend">
					<div class="legend-image">
						<img src="img/legend/safetyconcern.png">
					</div>
					<div class="legend-text">Safety Concern</div>
				</div>
				<div class="legend">
					<div class="legend-image">
						<img src="img/legend/bikeparking.png">
					</div>
					<div class="legend-text">Bike Parking Suggestion</div>
				</div>
				<div class="legend">
					<div class="legend-image">
						<img src="img/legend/bikerepair.png">
					</div>
					<div class="legend-text">DIY Bike Repair Suggestion</div>
				</div>
				<div class="legend">
					<div class="legend-image">
						<img src="img/legend/transit.png">
					</div>
					<div class="legend-text">Transit Stop Used</div>
				</div>
				<div class="legend">
					<div class="legend-image" style="padding-left:10px">
						<img src="img/legend/route.jpg">
					</div>
					<div class="legend-text" style="padding-left:20px">Route(s) People Use</div>
				</div>
				<div class="legend">
					<div class="legend-image" style="padding-left:10px">
						<img src="img/legend/legend-driving-route.png">
					</div>
					<div class="legend-text" style="padding-left:20px">Route(s) Needing Improvement</div>
				</div>
			</div>

			<div class="category">
				<h2>Existing Bike Facilities</h2>

			    <div class="legend">
					<div class="legend-image">
						<img src="img/legend/1A8033.png">
					</div>
					<div class="legend-text">Separated Bike Path</div>
				</div>
			    <div class="legend">
					<div class="legend-image">
						<img src="img/legend/00C5FF.png">
					</div>
					<div class="legend-text">Bike Lane</div>
				</div>
			    <!--<div class="legend">
					<div class="legend-image">
						<img src="img/legend/class-6.png">
					</div>
					<div class="legend-text">Bike Lane On One Side of Two-Way Street</div>
				</div>-->				
				<div class="legend">
					<div class="legend-image">
						<img src="img/legend/FFAA00.png">
					</div>
					<div class="legend-text">Bike routes: signage only, shared with motor vehicles</div>
				</div>
			
				<div class="legend">
					<div class="legend-image">
						<img src="img/legend/A87000.png">
					</div>
					<div class="legend-text">Arterial Bike Routes: signage only, shared with motor vehicles along busier streets</div>
				</div>
				<div class="legend">
					<div class="legend-image">
						<img src="img/legend/894465.png">
					</div>
					<div class="legend-text">Bike route: signage only, along quiet neighborhood streets</div>
				</div>
				<div class="legend">
					<div class="legend-image">
						<img src="img/legend/306799.png">
					</div>
					<div class="legend-text">Protected Bike Lane</div>
				</div>
			</div>

			<div class="category">
				<h2>Point of Interests</h2>
				<div class="legend">
					<div class="legend-image">
						<img style="min-height: auto;margin-left:3px;" src="img/BART.png">
					</div>
					<div class="legend-text" style="padding-left:-3px;padding-top:5px;padding-bottom:3px">BART Station</div>
				</div>
				<div class="legend" style="padding-bottom:3px">
					<div class="legend-image">
						<img style="min-height: auto;margin-left:5px;height:20px;width:20px" src="img/legend/actransit.png">
					</div>
					<div class="legend-text"><span style="margin-left:4px;">AC Transit</span></div>
				</div>
			    <div class="legend">
					<div class="legend-image" style="padding-left:5px">
						<img style="min-height: auto" src="img/schools.png" width="20" height="20">
					</div>
					<div class="legend-text" style="padding-left:15px;padding-bottom:3px">School</div>
				</div>
			    <div class="legend">
					<div class="legend-image" >
						<img style="min-height: auto" src="img/legend/Library.png" width="28" height="28">
					</div>
					<div class="legend-text" style="padding-left:13px">Library</div>
				</div>
			    <div class="legend">
					<div class="legend-image">
						<img style="min-height: auto" src="img/legend/Community.png" width="28" height="28">
					</div>
					<div class="legend-text" style="padding-left:12px">Community/Recreation Center</div>
				</div>
				<div class="legend">
					<div class="legend-image">
						<img style="min-height: auto" src="img/cart.PNG">
					</div>
					<div class="legend-text">Grocery Store</div>
				</div>

			</div>

		</div>
	</div>
	
</div>