<div class="content-root animated fadeInLeft">
	<div class="header-container">

		<div class="child-content">

			<div class="content-arrow">
				<a href="#"><img src="img/content-arrow.png"></a>
			</div>

		    <h1>Thank You!</h1>

		    <p>Your survey responses have been saved!</p>

		    <a href="#/step-one/" class="btn-primary full">Back To Beginning</a>
			<hr>
			<h1>Tell Us More</h1>

		    <p>Thank you for taking the time to give us input! Here are some more ways to stay involved with the Oakland Bike Plan:</p>
			<ul>
				<li>Sign up for updates on the <a href="https://public.govdelivery.com/accounts/CAOAKL/subscriber/new?topic_id=CAOAKL_168" target="_blank">Oakland Bike Plan here</a></li>
				<li>Download the <a href="https://ride.report/" target="_blank">Ride Report app</a> to your mobile phone to start rating your rides. </li>
				<li><a href="https://thepollingplace.qualtrics.com/jfe/form/SV_4OBBQWnm4r4Xl5j" target="_blank">Take the long-form survey</a> to tell us more about how you get around Oakland.</li>
				<li>For a full list of events, visit <a href="http://letsbikeoakland.com/events" target="_blank">LetsBikeOakland.com/events</a>.</li>
				<li>Visit <a href="http://letsbikeoakland.com/" target="_blank">LetsBikeOakland.com</a> for new and project updates!</li>
			</ul>
		</div>


	</div>
</div>